/*sub01 시작*/

#sub-wrap {
    min-width: 320px;
    padding: 0 20px;
    width: 100%;
    height: 100vh;
    background-color: #111;
}

header {
    padding: 20px 0;
}

header nav ul li a {
    border-bottom: 2px solid #E8DCB2;
    color: #fff;
    transition: all 0.2s;
    position: relative;
}

header nav ul li a::after {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border-bottom: 10px solid #E8DCB2;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.2s;
}

header nav ul li:hover a::after {
    opacity: 1;
}

.intro-img {
    width: 100%;
    height: 30vh;
    border-radius: 200px;
    opacity: 80%;
    background: url(../img/sub01.jpg) no-repeat center / cover;
}

.sub01-intro {
    padding: 20px 0;
}

.sub01-intro h3 {
    height: 60px;
    line-height: 72px;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: underline;
    text-decoration-color: #E8DCB2;
    text-underline-offset: 10px;
    text-align: center;
}

.sub01-intro p {
    font-size: 14px;
    text-align: center;
}

.sub01-intro p:first-child {
    padding-top: 20px;
}

.sub01-intro p:last-child {
    padding-bottom: 20px;
}

.intro-txt-wrap ul li a {
    font-size: 14px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #E8DCB2;
    border-bottom: 1px solid #E8DCB2;
    transition: ease-in-out 0.3s;
}

.intro-txt-wrap ul li a strong {
    color: #E8DCB2;
}


.intro-txt-wrap ul li:hover a {
    background-color: #fffaec;
    color: #111;
}

.intro-txt-wrap ul li:hover a strong {
    color: #111;
}

.btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.btn-go {
    width: 140px;
    height: 30px;
    font-size: 12px;
    border: 1px solid #111;
    background-color: #E8DCB2;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-out 0.2s;
}

.btn-go:hover {
    background-color: #111;
    border: 1px solid #fff;
    color: #fff;
    font-size: 13px;
}

/*sub01 끝*/
/*sub02 시작*/

#sub-wrap-type02 {
    min-width: 320px;
    padding: 0 20px;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    color: #111;
}

header .type02 ul li a {
    border-bottom: 2px solid #abccff;
    color: #111;
}

header .type02 ul li a::after {
    border-bottom: 10px solid #abccff;
}

.intro-img.type02 {
    background: url(../img/sub02.jpg) no-repeat center / cover;
}

.sub01-intro.type02 h3 {
    font-size: 16px;
    text-decoration-color: #abccff;
}


.btn-go.type02 {
    width: 140px;
    height: 30px;
    font-size: 12px;
    border: 1px solid #abccff;
    background-color: #abccff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-out 0.2s;
}

.btn-gotype02:hover {
    background-color: #111;
    border: 1px solid #fff;
    color: #fff;
    font-size: 13px;
}

.intro-txt-wrap.type02 ul li a {
    font-size: 14px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #111;
    border-bottom: 2px solid #abccff;
    transition: ease-in-out 0.3s;
}

.intro-txt-wrap.type02 ul li a strong {
    color: #111;
}


.intro-txt-wrap.type02 ul li:hover a {
    background-color: #abccff;
    color: #fff;
}

.intro-txt-wrap.type02 ul li:hover a strong {
    color: #fff;
}

/*sub02 끝*/

    /*sub03 시작*/
    .intro-img.type03{
        background:url(../img/sub03.jpg) no-repeat center / cover;
        
    }
    /*sub03 끝*/


@media screen and (min-width:420px) {

    /*sub01 시작*/
    .sub01-intro h3 {
        font-size: 20px;
    }

    .sub01-intro .intro-txt p {
        line-height: 1.5;
    }


    .btn-go {
        font-weight: 500;
        width: 170px;
        height: 40px;
        font-size: 14px;
        border-radius: 40px;
    }

    .intro-img {
        height: 40vh;
    }

    /*sub01 끝*/

    /*sub02 시작*/

    .sub01-intro.type02 h3 {
        font-size: 20px;
    }


    .btn-go.type02 {
        font-weight: 500;
        width: 170px;
        height: 40px;
        font-size: 14px;
        border-radius: 40px;
    }

    .intro-img.type02 {
        height: 40vh;
    }

    /*sub02 끝*/


}

@media screen and (min-width:700px) {

    /*sub01 시작*/

    .sub01-intro p {
        font-size: 16px;
    }

    .intro-txt-wrap ul li a {
        font-size: 18px;
        padding: 10px 14px;
    }

    .btn-go {
        font-weight: 600;
    }

    .btn-go:hover {
        font-size: 15px;
    }

    /*sub01 끝*/

    .sub01-intro p {
        font-size: 16px;
    }

    .intro-txt-wrap ul li a {
        font-size: 18px;
        padding: 10px 14px;
    }



    /*sub02 시작*/

    .btn-go.type02 {
        font-weight: 600;
    }

    .btn-go.type02:hover {
        font-size: 15px;
    }

    .intro-txt-wrap.type02 ul li a {
        font-size: 18px;
        padding: 10px 14px;
    }

    /*sub02 끝*/
    /*sub03 시작*/
    .intro-img.type03{
        
    }
    /*sub03 끝*/
}

@media screen and (min-width:850px) {

    /*sub01 시작*/

    .sub01-wrap {
        padding: 0 30px;
        height: 48vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sub01-intro,
    .intro-txt-wrap {
        width: calc((100% - 80px) / 2);
    }

    .btn-wrap {
        justify-content: left;
        padding-top: 30px;
    }

    .sub01-intro h3 {
        text-align: left;
        font-size: 24px;
    }

    .sub01-intro p {
        font-size: 18px;
        text-align: left;
    }

    /*sub01 끝*/


}

@media screen and (min-width:1200px) {

    /*sub01 시작*/


    header nav ul li a {
        font-size: 18px;
    }

    .sub01-wrap {
        padding: 0 50px;
    }

    .sub01-intro h3 {
        font-size: 26px;
        text-underline-offset: 15px;
    }

    .sub01-intro .intro-txt p {
        line-height: 1.7;
    }


    .intro-img {
        height: 44vh;

    }

    .btn-go {
        width: 220px;
        height: 50px;
        font-size: 18px;
    }

    .btn-go:hover {
        font-size: 19px;
    }

    .intro-txt-wrap ul li a {
        font-size: 20px;
        padding: 20px;
    }


    /*sub01 끝*/

    /*sub02 시작*/
    .intro-img.type02 {
        height: 44vh;
    }

    .btn-go.type02 {
        width: 220px;
        height: 50px;
        font-size: 18px;
    }

    .btn-go.type02:hover {
        font-size: 19px;
    }

    .intro-txt-wrap.type02 ul li a {
        font-size: 20px;
        padding: 20px;
    }

    /*sub02 끝*/

}

@media screen and (min-width:1400px) {

    /*sub01 시작*/

    #sub-wrap {
        padding: 0 40px;
    }

    .sub01-wrap {
        padding: 0 70px;
    }

    .sub01-intro h3 {
        font-size: 28px;
    }

    .sub01-intro p {
        font-size: 20px;
    }

    .btn-go {
        width: 240px;
        font-size: 20px;
    }

    .btn-go:hover {
        font-size: 22px;
    }

    .intro-txt-wrap ul li a {
        font-size: 24px;
    }

    /*sub01 끝*/
    /*sub02 시작*/
    #sub-wrap-type02 {
        padding: 0 40px;
    }

    .sub01-wrap.type02 {
        padding: 0 70px;
    }

    .sub01-intro.type02 h3 {
        font-size: 28px;
    }

    .sub01-intro.type02 p {
        font-size: 20px;
    }

    .btn-go.type02 {
        width: 240px;
        font-size: 20px;
    }

    .btn-go.type02:hover {
        font-size: 22px;
    }

    .intro-txt-wrap.type02 ul li a {
        font-size: 24px;
    }
    /*sub02 끝*/
}